.digits_purchase_datails{
  font-size: 14px;
}
.circle1{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: white;
}
.circl1s{
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #00bea3;
}
.block{
width: 650px; height: 240px; margin:0 auto;
  border-radius: 12px;
  background-color:#f0f0f0;
  width: 650px;
  height: 240px;
}

.container{
  margin-bottom:20px;
    }
