
.block{
width: 650px;
height: 240px;
margin:0 auto;
  border-radius: 12px;
  background-color:#f0f0f0;

}

.container{
  margin-bottom:0px;
    }

.myBtn{
      background-color: transparent;
      border: 1px solid #00BEA3;
      color: #00BEA3;
      width: 200px;
}
.myBtn:hover{
background-color: #00BEA3;
color:white !important;
}
.myBtn:focus{
  outline: none !important;
  color:#00BEA3;
}
.myBtn:active{

  box-shadow: none;
  color:white !important;
  background-color: #16f1d2 !important;
    border: 1px solid #00BEA3 !important;
}

.input-class{
display: grid;
width: 90%;
margin-left: 5%;
padding-top:2%;
padding-bottom: 1%;
}
.buttons{
  width: 90%;
  margin-left:5%;

  display: flex;
  justify-content: center;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
   width:100%;
}
