/*------------------------------------------------------------------------------*/
/*-------------------------buttons-----------------------------*/
/*------------------------------------------------------------------------------*/

.bouton-image:before {
    content: "";
    width: 120px;
    height: 120px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-top;
    background-color: transparent;
    //background-color: #00BEA3;
    background-position : center center;
    background-repeat:no-repeat;
}


.imgBoutonEther:before{
     background-image : url(http://127.0.0.1:8080/img/ether-logo.png);
}
.imgBoutonBitcoin:before{
     background-image : url(http://127.0.0.1:8080/img/bitcoin-logo.png);
}
.imgBoutonUsd:before{
     background-image : url(http://127.0.0.1:8080/img/usd-logo.png);
}
.imgBoutonEur:before{
     background-image : url(http://127.0.0.1:8080/img/eur-logo.png);
}

#usd-button{
  background-color: #00BEA3;
  border-radius: 50%;
}

#usd-button:focus{
  background-color: #16f1d2;
}
#ether-button{
  background-color: #00BEA3;
    border-radius: 50%;
}

#ether-button:focus{
  background-color: #16f1d2;
}

#bitcoin-button{
  background-color: #00BEA3;
    border-radius: 50%;
}

#bitcoin-button:focus{
  background-color: #16f1d2;
}

#eur-button{
  background-color: #00BEA3;
    border-radius: 50%;
}

#eur-button:focus{
  background-color: #16f1d2;
}

.curbtn:focus, .curbtn:active, .curbtn:hover {
    outline: none !important;
    border:1px solid #00584b;
    box-shadow: 1px 1px 10px black;

}
