<div class="row menuRow">
    <div class="thumbnail">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">Menu</a>
            <a href="#" class="list-group-item list-group-item-action">Menu</a>
            <a href="#" class="list-group-item list-group-item-action">Menu</a>
            <a href="#" class="list-group-item list-group-item-action ">Menu</a>
        </div>
    </div>
</div>