
/* Style the header */
.header{
  background-color: grey;
  text-align: center;
  padding:20px;
}

/* Create three equal columns that floats next to each other */
.column {
  float:left;
  width: 49%;
  margin: 0 2px ;
}

.column_left{
  float: left;
  width:25%;
  height: 100%;
}

.column_right{
  float: left;
  width:25%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
/* Footer */
.footer {

  text-align: center;
  background: #ddd;
  margin-top: 20px;
  height: auto;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;

  }
}
