
div {
    border: 3px solid #4CAF50;
}

.wrapper{
    width: 99%;
    display: table;
    margin-right: 5px;
}

.header {
    width: 98%;
    height: 60px;
    float: left;
    margin-left: 10px;
}

.left-bar{
    width:127px;
    height:400px;
    float: left;
    margin: 10px;

}

.right_bar{
    width: 120px;
    height: 260px;
    margin: 10px;
    float: right;
    margin-left: 10px;
}

.content{
    width: 76%;
    height: 60px;
    margin: 10px;
    float: left;
}

.footer {
    margin-top: 25px;
    width: 99%;
    height:60px;
}
