* {

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

button:focus {
  outline: 0;
}

.container {
  max-width: 545px;
}

.window {
  marging: 0 auto;
  padding: 20px;
  border: 1px solid red;
  text-align: center;
  border-radius: 10px;
  margin-top: 10px;
}

.firstDialog {
  display: inline-block;
  border: 1px solid red;
  padding: 0 12px;
  width: 50%;
  min-width: 230px !important;
}

.raisedDialog {
  margin: 10px;
  border: 1px solid red;
  display: inline-block;
  width: 60%;
}

.progresDialog {
  display: inline-block;
  border: 1px solid red;
  padding: 0 12px;
  width: 70%;
}

.progressCont {
  display: flex;
  margin: 10px 0;
  border: 1px solid red;
  width: 100%
}

.bar {
  height: 10px;
  width: 100%;
  background-image: linear-gradient(to right, #f9cea5 0%, #ff5d00 100%);
}



.capButtonsDialog {
  display: flex;
  justify-content: space-between;
  margin: 0 25px 10px;
}

@media only screen and (max-width:490px){
  .capButtonsDialog{
    margin: 0 5px 10px;
  }
}
@media only screen and (max-width:480px){
  .buyButton{
    font-size:9px;
  }
}

.capButtons {
  border: 1px solid black;
  background-color: white;
}

.buyButton {
  width: 30%;
  margin: 30px 0;
  border-radius: 10px;
  padding: 10px 20px;
  background-image: linear-gradient(to right, #45caf4 0%, #2f2bf5 100%);
  color: white;
  transition: 0.2s;
}

.buyButton:hover {
  font-size: 14.6px;
}

.buyButton:active {
  font-size: 14px;
  background-image: linear-gradient(to right, #45caf4 0%, #504df4 100%);
}

.points{
  position:relative;
}

.point{
  position:absolute;
  height:10px;
  border:1px solid black;
}
.soft{
left:20%;
top:-20px;
}
.hard{
  left:80%;
  top:-20px;
}
