<div class="row justify-content-center">
    <div class="col-md-4 col-md-offser-4">
        <h5 class="text-center">Please verify your account</h5>
        {{#if hasErrors}}
            <div class="alert alert-danger text-center">
                {{# each messages }}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
        <form action="/user/verify" method="post">
            <div class="form-group">

                <input type="text" id="secretToken" placeholder="Secret token" name="secretToken" class="form-control">
            </div>

            <button type="submit" class="form-control">Verify</button>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        </form>
    </div>
</div>