.bouton-image:before {
    content: "";
    width: 120px;
    height: 120px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-top;
    background-color: transparent;
    background-position : center center;
    background-repeat:no-repeat;
}


.imgBoutonEther:before{
     background-image : url(/dashboard/img/ether-logo.png);
}
.imgBoutonBitcoin:before{
     background-image : url(/dashboard/img/bitcoin-logo.png);

}
.imgBoutonEuro:before{
     background-image : url(/dashboard/img/eur-logo.png);
}
.imgBoutonUsd:before{
     background-image : url(/dashboard/img/usd-logo.png);

}



#ether-button{
  background-color: #c6c6c6;
    border-radius: 10%;
}

#ether-button:focus{
  background-color: #c6c6c6;
    box-shadow: -11px -10px 15px black;
}

#ether-button:hover{
  background-color: #c6c6c6;
    box-shadow: -11px -10px 15px black;
}

#ether-button:active{

  background-color: #989898;
    outline: none !important;

    box-shadow: -0px -0px 1px black;
}

#bitcoin-button{
  background-color: #c6c6c6;
    border-radius: 10%;
}

#bitcoin-button:focus{
  background-color: #c6c6c6;
  box-shadow: 11px -10px 15px black;
}
#bitcoin-button:hover{
  outline: none !important;

  box-shadow: 11px -10px 15px black;
}

#bitcoin-button:active{

  background-color: #989898;
    outline: none !important;

    box-shadow: -0px -0px 1px black;
}

/*-----*/

#euro-button{
  background-color: #c6c6c6;
    border-radius: 10%;
}

#euro-button:focus{
  background-color: #c6c6c6;
    box-shadow: -11px -10px 15px black;
}

#euro-button:hover{
  background-color: #c6c6c6;
    box-shadow: -11px -10px 15px black;
}

#euro-button:active{

  background-color: #989898;
    outline: none !important;

    box-shadow: -0px -0px 1px black;
}

#usd-button{
  background-color: #c6c6c6;
    border-radius: 10%;
}

#usd-button:focus{
  background-color: #c6c6c6;
  box-shadow: 11px -10px 15px black;
}
#usd-button:hover{
  outline: none !important;

  box-shadow: 11px -10px 15px black;
}

#usd-button:active{

  background-color: #989898;
    outline: none !important;

    box-shadow: -0px -0px 1px black;
}



.curbtn:focus, .curbtn:active  {
    outline: none !important;
    border:1px solid #ffffff;


}
.curbtn:hover{
  outline: none !important;
  border:1px solid none;

}
