/*------------------------------------------------------------------------------*/
/*progress*/
/*------------------------------------------------------------------------------*/
.progBar{
  position: relative;
  top: 50%;
  border-radius: 2px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}
.glow{
  display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    text-decoration: none;
    border: .5em solid rgba(0,0,0,0);
    border-radius: 100%;
    background: #00BEA3 linear-gradient(#16f1d2, #16f1d2) 50% 50% / calc(1.5em + .5em*2) calc(1.5em + .5em*2);
    box-shadow:
     inset 0 -3px 10px rgba(255,255,255,1),
     inset 0 3px 10px rgba(0,0,0,.4),
     0.1px 0px 0px rgba(247, 241, 241, 0.9);
   }


.circles{
  display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-between; /* Safari 6.1+ */
    display: flex;
    justify-content: space-between;
    position: relative;
    top:-40px;
}
.circle{
  width:30px;
  height:30px;
  background-color: #00BEA3;
  border-radius: 50%;
  position: relative;
  border:1px solid black;

}

.circleSmall{
  width: 20px;
  height: 20px;
  background-color: white;

  border-radius: 45%;
  position: relative;

}
/*------------------------------------------------------------------------------*/
/*------------------------labels---------------------------------*/
/*------------------------------------------------------------------------------*/
.labels{

  display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-between; /* Safari 6.1+ */
    display: flex;
    justify-content: space-between;
    color: rgba(#dd3b11, 0.97);
}

/*------------------------------------------------------------------------------*/
/*------------------------input---------------------------------*/
/*------------------------------------------------------------------------------*/
.inputAddress:focus{
  border:1px solid #00BEA3;
}
