* {
    transition:0.2s ease-in-out;
    box-sizing: border-box;
}

ol{padding-left: 0em}

span#sale-type-1.textStyle{
    font-size:10.9px;
}
.progress-bar- {
    list-style: none;
    overflow: hidden;
    display: flex;
    line-height: 0px;



}

@media screen and (min-width: 600px) {
    .progress-bar-{
          border-bottom:1px solid #333232;
    border-bottom-left-radius:11px;
    border-bottom-right-radius:11px;
    }

}

.progress-bar__steps {
    background: #383737;
    color: #fff;
    width: 33%;
    position: relative;
    cursor: default;
    list-style-image: none;
    list-style-type: none;
    padding: 10px 5px;
    text-align: center;
    font-size:14px;

}



@media screen and (min-width: 600px) {
    .progress-bar__steps {
        padding: 14px 0 14px 0;
        text-align: center;
        font-size:11px
    }
}
@media screen and (min-width: 600px) {
    .progress-bar__steps:first-child {

        border-top-left-radius:10px;
        border-bottom-left-radius:10px;
        box-sizing:border-box;
        border-right:1px solid #222222;
    }
}

@media screen and (min-width: 600px) {
    .progress-bar__steps:last-child {
        width:34%;
        border-top-right-radius:10px;
        border-bottom-right-radius:10px;
        box-sizing:border-box;
        border-left:1px solid #222222;
    }
}


.progress-bar- .current {
    background: #8b8b8b;
    color: #fff;

}
